*{
    margin: 0;
    padding: 0;
    font-family: 'Instrument Sans', sans-serif;
    
}
.container-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Instrument Sans', sans-serif;
    background-color: #424242;
    color:#A7A7A7;
    font-size: small;
    height: 8vh;
}
.team, .usuario{
    display: flex;
    flex-direction: row;
    margin: 1% 0% 1% 2%;
    width: 50%;
    align-items: center;
}
.team *{
    margin-left: 3% ;
    color:#A7A7A7;
    text-decoration: none;
}
.team{
    justify-content: flex-start;
}
.usuario{
    justify-content: flex-end;
}
.usuario *{
    margin-right: 5%;
}
.imagen{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.search-bar{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40px;
    background:white;
   
}
.search-bar input{
    width: 100%;
    height: 25px;
    border: 0;
    outline: none;
    background: transparent;
    position: relative;
    left: 10px;
   
}
.search-bar button{
    background: transparent;
    border: 0;
    
}
.search-bar button img{
    background: transparent;
    position: relative;
    right: 10px;
    top:2px
}
.container-main{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 88vh;
    width: 98vw;
    
   
}
.container-main .teams{
   display: flex;
   flex-wrap: wrap;
   
}
.teams img{
    margin: 10px;
    width: 100px;
    height: 100px;
    
}
.mainpage-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.mainpage-container .img-team{
    width: 30%;
    height: 30%;
    margin: 3%;
}
.img-players{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.img-team{
 width: 100px;
 height: 100px;
}
.teamCard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-init{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #162652;
   
}
.caja-init{
    width: 400px;
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
   
}
.caja-init *{
   
    align-self: flex-start;
   
}
.caja-init .link{
    align-self: flex-end;
}

.caja-init span{
    margin-left: 10px;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}
.caja-init form{
    width: 100%;
}
.caja-init form *{
    padding: 15px;    
    width: 90%;
    outline: none;
}
.correo input,.password input{
    border: 1px solid #A7A7A7;
    border-radius: 5px;
    
}
.caja-init form .login-cuenta{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   
}
.login-cuenta button{
    width: 45%;
    background:#162652 ;
    color:white;
    border:0;
    border-radius: 5px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caja-init .link{
    text-decoration: none;
    margin: 10px 30px 10px 0px;

}
.register-caja-init{
   display: flex;
   flex-direction: column;
   align-items: center;
   width:400px;
   height: auto;
   background: white;
   border-radius: 10px;

}
.register-caja-init *{
    margin: 10px;
    width: 85%;
}
.register-span{
    align-self: flex-start;
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}
.register-caja-init div input{
    padding: 15px;
}
.register-caja-init form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.register-caja-init form button{
    padding: 10px;
    background: #162652;
    color:white;
    border: 0;
    border-radius: 5px;
}
.register-caja-init .register-existe{
   
    width: 60%;
    align-self: flex-end;
    margin-bottom: 20px; 
}
div .error {
    padding: 15px;
    
    background:#ffe8e8;
    width: 82%;
    margin-left: 4%;
}
.error span{
    font-weight: thin;
    font-size: 15px;
    color:rgba(148, 0, 0, 0.77)
    
}
.register-caja-init .error{
    width: 75%;
}






